<!DOCTYPE html>
<html>
  <head>
    <title>RVT</title>

    <%= stylesheet_link_tag    'rvt/application', media: 'all' %>
    <%= javascript_include_tag 'rvt/application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
